img{
    border-radius: 25%;
}

.form{
    box-shadow:15px 15px 15px 15px inset #ccc;
    width:fit-content;
}

input{
    border:none;
    box-shadow: 6px 6px 6px 6px rgb(13, 66, 102 ,0.445) inset;
    background-color:lightblue;
    padding: 15px 30px;
    border-radius: 30px;
    display:block;
    margin-bottom: 30px;
}